{{ 'custom-closets.css' | asset_url | stylesheet_tag }}

<div class="closets-category-section">
  <div class="closets-section">
    <div class="container">
      
      <div class="section-header">
        <h2>Custom Closets</h2>
        <p>Fully customizable to the inch mix & match all materials and modules</p>
      </div>
      
      <div class="closets-grid">
        <div class="closet-item">
          <img 
            src="{{ 'CustomClosetImage1.png' | asset_url }}" 
            alt="Custom Closet 1"
            width="600"
            height="400"
            loading="lazy"
          />
        </div>
        <div class="closet-item">
          <img 
            src="{{ 'CustomClosetImage2.png' | asset_url }}" 
            alt="Custom Closet 2"
            width="600"
            height="400"
            loading="lazy"
          />
        </div>
        <div class="closet-item">
          <img 
            src="{{ 'CustomClosetImage3.png' | asset_url }}" 
            alt="Custom Closet 3"
            width="600"
            height="400"
            loading="lazy"
          />
        </div>
      </div>
      
    </div>
  </div>
</div>

